@{
    ViewBag.Title = "About";
}
<div class="jumbotron" style="background-color:#e3fefe">
    <h2 style="font-weight:bolder" >@ViewBag.Title Us</h2>
    @*<h3>@ViewBag.Message</h3>*@

    <div>ToGoDelivery is a <b>FREE</b> MVC application available for business owners like you to set up your restaurant business on a web platform to be able to better reach customers in the digital age. We know that times are hard for small businesses since the pandemic. We wanted to make a free application available to help keep local small businesses in business. Since regulations fluctuate from week to week, the best way to stay in contact with your customers is via web! Your customers can do all of their online ordering on this platform and add services to thier orders such as delivery or extra silverware. This application is set up to give you the bare bones to create a platform that is flexible to your business needs. <br>See the contact page to find out more!</div>
</div>