@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron" style="background-color:white">
    <h2 style="font-weight:bolder">@ViewBag.Title</h2>
    @*<h3>@ViewBag.Message</h3>*@
    <h3>Reach out! We want to hear from you.</h3>

    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </p>

    <p>
        <strong>GitHub:</strong>   <a href="https://github.com/chloejefferson/ToGoDelivery">github.com/chloejefferson/ToGoDelivery</a><br />
        @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
    </p>
</div>