@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center" style="background-color: #ffffe6">
    <h1 style="font-weight:bolder">ToGoDelivery</h1>
    <p class="lead">ToGoDelivery is a FREE MVC application available for business owners like you to set up your restaurant business on a web platform to be able to better reach customers in the digital age.<br /><br /><b>To get started using the site, select Register or Log In at the top left of the page!</b></p>
    <p>
        @Html.ActionLink("Learn More", "About", "Home", null, new { @class = "btn btn-primary btn-lg" })

        @*<a href="https://localhost:44392/Home/About" class="btn btn-primary btn-lg" style="text-align:center">Learn more</a>*@
    </p>
</div>

<div class="row text-center">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To learn more about this application and how it can work for you, visit the GitHub page where the code lives!
        </p>
        <p><a class="btn btn-success href="https://github.com/chloejefferson/ToGoDelivery">Learn more</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact us</h2>
        <p>Still have questions? Get in touch!</p>
        @Html.ActionLink("Learn More", "Contact", "Home", null, new { @class = "btn btn-success" })
        @*<p><a class="btn btn-default" href="https://localhost:44392/Home/Contact">Learn more</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Need guidance?</h2>
        <p>We know that times are hard with all of the changes that have come with the Covid-19 pandemic. If you need resources, please see below.</p>
        <p><a class="btn btn-success" href="https://www.sba.gov/page/covid-19-guidance-resources">Learn more</a></p>
    </div>
</div>